<div>
  <h1 phx-click="boom">The count is: <%= @count %></h1>
  <div>
    <% {hero_x, hero_y} = @hero_position %>
    Hero Position ~  X: <%= hero_x %>, Y:<%= hero_y %>
  </div>
  <button phx-click="dec">-</button>
  <button phx-click="inc">+</button>
</div>

<div class="game-container" phx-keydown="keydown" phx-target="window">

</div>