/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";


.hero {
  background-color: lightblue;
  background: url(/images/hero.png);
  background-size: cover;
}

.zombie {
  background-color: lightgreen;
  background: url(/images/zombie.png);
  background-size: cover;
}

.square {
  padding-bottom: 100%;
}

.empty {
  background-color: lightgrey;
  background:
    /* On "top" */
    repeating-linear-gradient(45deg,
      transparent,
      transparent 10px,
      #ccc 10px,
      #ccc 20px),
    /* on "bottom" */
    linear-gradient(to bottom,
      #eee,
      #999);
}



.box {
  border: 1px solid;
}